.bigCircle{
  z-index: 0;
  height: 700px;
  width: 700px;
  position: absolute;
  inset: -5em 2em 3em 8em;
  background-color: transparent;
  border: solid skyblue;
  border-radius: 50%;
}

.smallCircle{
  height: 300px;
  width: 300px;
  position: absolute;
  inset: 20em 2em 2em 43em;
  background-color: transparent;
  border: solid skyblue;
  border-radius: 50%;
  
}

.tOne{
  z-index: 999;
  padding-top: 5em;
  width: 70vw;
  display: flex;
  justify-content: center;
}

.tTwo{
  z-index: 999;
  padding-top: 5em;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tTwo > h3{
  max-width: 30ch;
  font-style: italic;
}

.tThree{
  z-index: 999;
  padding-top: 5em;
  width: 100vw;
  display: flex;
  justify-content: right;
  text-align: center;
}

.tThree > h3{
  max-width: 30ch;
  font-style: italic;
}