<ion-content [fullscreen]="true">
  <header>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>
  <!-- header ends -->

  <div class="container">
    <div class="circles">
      <div class="bigCircle"></div>
      <div class="smallCircle"></div>
  

      <div class="tOne">
        <h1>Lorem, ipsum dolor.</h1>
      </div>

      <div class="tTwo">
        <h3>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium,
          dolores!
        </h3>
      </div>

      <div class="tThree">
        <h3>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium,
          dolores!
        </h3>
      </div>
    </div>

    <div class="innerContainer">

      <div class="sectionOne">
        <div class="sOText">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            possimus doloribus numquam nesciunt debitis nisi maxime pariatur
            ratione enim. Labore. Lorem ipsum dolor sit amet consectetur
              <br>
              <br>
            adipisicing elit. Quisquam labore accusamus quidem unde doloremque
            voluptates quos pariatur repudiandae facere, esse commodi tempora
            nobis ab, at voluptatibus suscipit voluptate assumenda est voluptas?
            Nam nemo sit dolore iste explicabo pariatur accusamus
              <br>
              <br>
            exercitationem? Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Ullam vel accusantium adipisci in minus provident.
          </p>
        </div>
        <div class="rectangle"></div>
      </div>

      <ion-button class="ion-margin" expand="block" shape="round">
        Book A Consultation!
      </ion-button>

      <h2 class="ion-margin">Meet the Team</h2>

      <div class="sectionTwo">

        <ion-card class="ion-margin">
          <ion-card-header>
            <ion-card-subtitle>Web Designer & Full Stack Developer</ion-card-subtitle>
            <ion-card-title>Graham Naquin</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            likes to spam counter because once every 100 times he gets rewarded for it
          </ion-card-content>
        </ion-card>

        <ion-card class="ion-margin">
          <ion-card-header>
            <ion-card-subtitle>Head Salesman & Fincanial Manager</ion-card-subtitle>
            <ion-card-title>Cameron Da-Lawn</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            we swear to god there's nothing wrong with him
          </ion-card-content>
        </ion-card>

      </div>

      <h2>Check Out Our Projects</h2>

      <div class="sectionThree">
        <h3>SPARK Worldwide</h3>

        <img src="../../assets/pictures/s1.png"/>
        <img src="../../assets/pictures/s2.png"/>
        <img src="../../assets/pictures/s11.png"/>
        <img src="../../assets/pictures/s22.png"/>
        <img src="../../assets/pictures/s3.png"/>

      </div>





    </div>
  </div>
</ion-content>
